@import "tailwindcss";

@theme {
  --color-primary: oklch(0.53 0.12 118.34);
  --color-secondary: oklch(0.84 0.18 117.33);
  --spacing: 0.5rem;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb)),
    rgb(var(--background-start-rgb))
  );
}

@variant dark {
  :root {
    --color-primary: oklch(0.63 0.15 118.34);
    --color-secondary: oklch(0.74 0.2 117.33);
  }

  .btn-outline {
    border-color: rgb(75 85 99);
  }
  .btn-outline:hover {
    background-color: rgb(31 41 55);
  }
}

input {
  border: 1px solid rgb(209 213 219);
  padding: 10px;
  border-radius: 0.375rem;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: var(--tw-shadow);
}
input:focus {
  border-color: rgb(59 130 246);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}

.dark input {
  border-color: rgb(75 85 99);
  background-color: rgb(31 41 55);
  color: white;
}
